body {
  background-color: rgba(250, 250, 210, 0);
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:rgb(255, 255, 255);
  font-size: 60px;
}  

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 41px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  color: blue;
  text-decoration: underline;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  color: rgb(188, 201, 10);
  text-decoration: underline;
}

P {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: rgb(0, 0, 0);
}

p2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}

p8 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: rgb(51, 141, 29);
}

p9 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: red;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container .image {
  width: 50%;
}

.container img {
  width: calc(100% - (20px * 2));
  margin: 20px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
}

.container2 .image {
  width: 100%;
}

.container2 img {
  width: calc(100% - (20px * 2));
  margin: 20px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  .container, .container .image, .container img, .container2, .container2 .image, .container2 img {
    width: 100%;
    height: auto;
  }
}
